.card-woman-container {
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset ,
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px , rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  margin: 1.8%;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  width: 300px;
  background-color: white;
}

.card-products-container:hover {
  transform: scale(1.1);
}

.container-barra {
background-color: blueviolet;
}

.barra-container {
  background-color: var(--rosa-bebe);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
